/* 
---------------------
RESET
---------------------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
---------------------
COMMON
---------------------
*/
:root {
  --bg-grigio: #6e6e6e;
}

body {
  background-color: #141922;
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  color: white;
}

ul {
  list-style-type: none;
}

/* 
---------------------
MAIN
---------------------
*/

/* SideBar */
.sidebar {
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar #logo {
  padding: 30px 20px 0;
}

.sidebar .menu ul {
  margin-top: 30px;
}

.sidebar .menu ul li {
  display: flex;
  align-items: center;
  padding: 0 0 15px 20px;
}

.sidebar .menu ul li img {
  width: 15%;
  height: auto;
}

.sidebar .menu ul li span {
  padding: 0 10px;
  font-size: 14px;
  color: var(--bg-grigio);
}

/* playlist */
.playlist {
  width: 80%;
  margin: 0 auto;
}

.playlist h4 {
  margin-top: 10px;
}

.crea-playlist {
  margin-top: 10px;
}

.crea-playlist i {
  font-size: 40px;
  vertical-align: middle;
  color: var(--bg-grigio);
}

.crea-playlist span {
  vertical-align: middle;
  margin-left: 10px;
  color: var(--bg-grigio);
}

.playlist ul {
  margin-top: 15px;
}

.playlist ul li {
  text-align: left;
  padding: 10px 0;
  font-size: 14px;
  color: var(--bg-grigio);
}

/* Content */
.content {
  margin-left: 200px;
}

/* Nav Upgrade */
.upgrade {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  text-align: right;
  position: fixed;
  right: 0;
  left: 200px;
}

.upgrade button {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 30px;
}

.upgrade button a {
  color: white;
  text-decoration: none;
}

nav {
  padding-top: 120px;
  width: 60%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

nav ul li {
  color: white;
  font-size: 12px;
}

/* 
---------------------
FOOTER
---------------------
*/

/* 
---------------------
HOVERS
---------------------
*/

.sidebar .menu ul li:hover {
  border-left: 3px solid #adff2f;
}

/* 
---------------------
RESPONSIVE
---------------------
*/
/* Medium da 0 a 768*/
@media screen and (max-width: 768px) {
}

/* Small da 0 a 576*/
@media screen and (max-width: 576px) {
}

/* Extra Small */
@media screen and (max-width: 576px) {
  .sidebar {
    width: 50px;
  }

  .content {
    margin-left: 50px;
  }
}
