/* 
---------------------
RESET
---------------------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
---------------------
COMMON
---------------------
*/
:root {
  --bg-grigio: #6e6e6e;
  --bg-grigio-nav: #7d7f84;
}

body {
  background-color: #141922;
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  color: white;
}

ul {
  list-style-type: none;
}

/* 
---------------------
MAIN
---------------------
*/

/* SideBar */
.sidebar {
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar #logo-small {
  display: none;
}

.sidebar #logo-big {
  padding: 30px 20px 0;
  display: block;
}

.sidebar .menu ul {
  margin-top: 30px;
}

.sidebar .menu ul li {
  display: flex;
  align-items: center;
  padding: 0 0 15px 20px;
}

.sidebar .menu ul li img {
  width: 15%;
  height: auto;
  display: block;
}

.sidebar .menu ul li span {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--bg-grigio);
}

/* playlist */
.playlist {
  width: 80%;
  margin: 0 auto;
}

.playlist h4 {
  margin-top: 10px;
}

.crea-playlist {
  margin-top: 10px;
}

.crea-playlist i {
  font-size: 40px;
  vertical-align: middle;
  color: var(--bg-grigio);
}

.crea-playlist span {
  vertical-align: middle;
  margin-left: 10px;
  font-weight: 700;
  color: var(--bg-grigio);
}

.playlist ul {
  margin-top: 15px;
  max-height: 300px;
  overflow-y: scroll;
}

.playlist ul li {
  text-align: left;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--bg-grigio);
}

/* Footer SideBar */
.footer-sidebar {
  padding: 20px 0 10px 20px;
  position: fixed;
  bottom: 0px;
  background-color: black;
}

/* Installa */
.footer-sidebar .installa {
  color: var(--bg-grigio);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-grigio);
}

/* Profilo */
.footer-sidebar .profilo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-sidebar .foto-profilo {
  background-color: #6e6e6e;
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.footer-sidebar img {
  width: 100%;
  object-fit: cover;
}

.footer-sidebar span {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
}

/* Content */
.content {
  margin-left: 200px;
}

/* Nav Upgrade */
.upgrade {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  text-align: right;
  position: fixed;
  right: 0;
  left: 200px;
}

.upgrade button {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 30px;
}

.upgrade button a {
  color: white;
  text-decoration: none;
  word-spacing: 2px;
}

/* Navbar */
nav {
  padding-top: 120px;
  width: 600px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li {
  color: var(--bg-grigio-nav);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* 
---------------------
FOOTER
---------------------
*/

/* 
---------------------
HOVERS
---------------------
*/

.sidebar .menu ul li:hover {
  border-left: 3px solid #adff2f;
}

nav ul li:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #adff2f;
  cursor: pointer;
}

/* 
---------------------
RESPONSIVE
---------------------
*/
/* Medium da 0 a 768*/
@media screen and (max-width: 768px) {
  /* Navbar */
  nav {
    width: 85%;
  }

  nav ul {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  nav ul li {
    padding: 5px 10px;
  }
}

/* Small da 0 a 576*/
@media screen and (max-width: 576px) {
}

/* Extra Small */
@media screen and (max-width: 576px) {
  /* sidebar */
  .sidebar {
    width: 50px;
  }

  .sidebar #logo-big {
    display: none;
  }

  .sidebar #logo-small {
    display: block;
    width: 100%;
    padding: 10px;
  }
  /* Menu */
  .sidebar .menu ul {
    margin-top: 20px;
  }

  .sidebar .menu ul li {
    padding: 0 10px 10px 10px;
  }

  .sidebar .menu ul li img {
    width: 100%;
  }

  .sidebar .menu ul li span {
    display: none;
  }

  /* Playlist */
  .playlist {
    display: none;
  }

  /* Installa */
  .footer-sidebar {
    width: 100%;
    margin: 0 auto;
  }

  .footer-sidebar .installa {
    border: none;
  }

  .footer-sidebar .installa span {
    display: none;
  }

  /* Profilo */
  .footer-sidebar .profilo span {
    display: none;
  }

  .footer-sidebar .profilo {
    margin-left: -7px;
  }

  .content {
    margin-left: 50px;
  }

  /* Upgrade */
  .upgrade {
    left: 50px;
  }
}
