/* 
---------------------
RESET
---------------------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
---------------------
COMMON
---------------------
*/
:root {
  --bg-grigio: #6e6e6e;
  --bg-grigio-nav: #7d7f84;
  --bg-footer: #282828;
}

body {
  background-color: #141922;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

.sidebar {
  color: white;
}

ul {
  list-style-type: none;
}

/* 
---------------------
MAIN
---------------------
*/

/* SideBar */
.sidebar {
  width: 230px;
  background-color: black;
  position: fixed;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.sidebar #logo-small {
  display: none;
}

.sidebar #logo-big {
  padding: 30px 80px 0 20px;
  display: block;
  width: 250px;
}

.sidebar .menu ul {
  margin-top: 40px;
}

.sidebar .menu ul li {
  display: flex;
  align-items: center;
  padding: 0 0 15px 20px;
}

.sidebar .menu ul li img {
  width: 10%;
  height: auto;
  display: block;
}

.sidebar .menu ul li span {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--bg-grigio);
}

/* playlist */
.playlist {
  width: 80%;
  margin: 0 auto;
  flex-grow: 1;
}

.playlist h4 {
  margin-top: 10px;
}

.crea-playlist {
  margin-top: 10px;
}

.crea-playlist i {
  font-size: 40px;
  vertical-align: middle;
  color: var(--bg-grigio);
}

.crea-playlist span {
  vertical-align: middle;
  margin-left: 10px;
  font-weight: 700;
  color: var(--bg-grigio);
}

.playlist ul {
  margin-top: 15px;
  max-height: 150px;
  overflow: hidden;
}

.playlist ul li {
  text-align: left;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--bg-grigio);
}

/* Footer SideBar */
.footer-sidebar {
  padding: 20px 0 10px 20px;
  bottom: 100px;
  background-color: black;
}

/* Installa */
.footer-sidebar .installa {
  color: var(--bg-grigio);
  padding-bottom: 10px;
}

hr {
  width: 190px;
  margin-top: 3px;
  border-color: var(--bg-grigio-nav);
}

/* Profilo */
.footer-sidebar .profilo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-sidebar .foto-profilo {
  background-color: #6e6e6e;
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.footer-sidebar img {
  width: 100%;
  object-fit: cover;
}

.footer-sidebar span {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
}

/* Content */
.content {
  margin-left: 230px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  padding-bottom: 100px;
}

/* Nav Upgrade */
.upgrade {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  text-align: right;
  position: fixed;
  right: 0;
  left: 230px;
  height: 100px;
  z-index: 2;
}

.upgrade button {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 25px;
}

.upgrade button a {
  color: white;
  text-decoration: none;
  word-spacing: 2px;
  font-weight: 700;
}

/* Navbar */
nav {
  padding-top: 120px;
  width: 600px;
  height: 150px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li {
  color: var(--bg-grigio-nav);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.selected::after {
  content: '';
  width: 40%;
  height: 2px;
  display: block;
  background-color: #adff2f;
  margin: 5px auto 0;
}

/* Recenti */
.recenti {
  margin: 30px auto 0;
  width: 98%;
}

.recenti h2 {
  color: white;
  margin-bottom: 20px;
}

.cont-recenti {
  width: 100%;
  display: flex;
}

.box {
  width: calc(100% / 6);
  padding: 0 0.5vw;
  text-align: center;
}

.cont-i,
.cont-i-cerchio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1vh;
}

.cont-i::after {
  content: '';
  display: flex;
  position: absolute;
  inset: 0;
  transition: background-color 0.2s;
}

.cont-i-cerchio::after {
  content: '';
  display: flex;
  position: absolute;
  inset: 0;
  transition: background-color 0.2s;
  border-radius: 50%;
}

.box .cont-i i,
.box .cont-i-cerchio i {
  position: absolute;
  color: white;
  font-size: 72px;
  display: none;
  z-index: 1;
}

.box img {
  width: 100%;

  display: block;
}

.box h4 {
  color: white;
  margin-bottom: 1vh;
  font-size: 14px;
}

.box h5 {
  color: var(--bg-grigio-nav);
  font-size: 10px;
}

/* Creato per */
.personalized {
  margin: 30px auto 0;
  width: 98%;
}

.personalized h2 {
  color: white;
  margin: 50px 0 10px;
}

.personalized h5 {
  color: var(--bg-grigio-nav);
  margin-bottom: 30px;
  font-size: 12px;
}

.cont-personal {
  width: 100%;
  display: flex;
}

/* Artisti */
.artisti {
  margin: 30px auto 0;
  width: 98%;
}

.artisti h2 {
  color: white;
  margin: 50px 0 10px;
}

.artisti h5 {
  color: var(--bg-grigio-nav);
  margin-bottom: 30px;
  font-size: 12px;
}

.artisti .box img {
  border-radius: 50%;
}

/* 
---------------------
FOOTER
---------------------
*/
footer {
  height: 100px;
  background-color: var(--bg-footer);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-shrink: 1;
  z-index: 3;
}

/* Footer-sx */
.footer-sx {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
  width: 20%;
}

.footer-sx .brano {
  display: flex;
}

/* immagine brano */
.brano .cont-foto-brano {
  width: 50px;
  height: 50px;
}

.brano img {
  width: 100%;
}

/* artista footer-sx */
.footer-sx .brano .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 10px;
}

.footer-sx .brano .info span {
  color: var(--bg-grigio-nav);
  font-size: 10px;
  font-weight: 700;
}

/* Icone footer-sx */
.footer-sx .icone {
  margin-left: 1.5vw;
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.footer-sx .icone i {
  color: var(--bg-grigio-nav);
}

/* Footer-centro */
.footer-centro {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.footer-centro .comandi {
  margin-bottom: 10px;
}

.footer-centro .comandi i {
  font-size: 20px;
  padding: 0 3vw;
  margin-bottom: 10px;
}

.footer-centro .comandi i:nth-child(3) {
  font-size: 30px;
}

.footer-centro .timeline {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  justify-content: space-between;
}

.footer-centro .timeline span {
  font-size: 10px;
}

.footer-centro .timeline .linea {
  border: 1px solid var(--bg-grigio-nav);
  width: 90%;
  height: 3px;
  background-color: var(--bg-grigio-nav);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  height: 5px;
  align-items: center;
  border: none;
}

.footer-centro .timeline .linea .andamento {
  border: 1px solid white;
  background-color: white;
  width: 20%;
  border-radius: 10px;
  height: 100%;
}

.footer-centro .cerchio-andamento-centro {
  height: 15px;
  width: 15px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  display: none;
}

/* Footer-dx */
.footer-dx {
  color: white;
  display: flex;
  align-items: center;
  width: 20%;
}

.footer-dx > * {
  padding: 0 15px;
}

.footer-dx .timeline {
  width: 100%;
}

.footer-dx .timeline .linea {
  border: none;
  width: 100%;
  height: 3px;
  background-color: var(--bg-grigio-nav);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.footer-dx .timeline .linea .andamento {
  border: 1px solid white;
  background-color: white;
  width: 30%;
  border-radius: 10px;
  height: 100%;
}

.footer-dx .cerchio-andamento-dx {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

/* prove */

/* 
---------------------
HOVERS
---------------------
*/

.sidebar .menu ul li:hover {
  border-left: 3px solid #adff2f;
}

.upgrade button:hover {
  padding: 15px 35px;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
}

.playlist ul:hover {
  overflow-y: scroll;
  cursor: pointer;
}

.sidebar .menu ul span:hover,
.footer-sidebar .installa:hover,
.playlist ul li:hover,
.footer-sx .icone i:hover {
  color: white;
  cursor: pointer;
}

.playlist .crea-playlist:hover i,
.playlist .crea-playlist:hover span,
.playlist .crea-playlist:hover {
  color: #adff2f;
  cursor: pointer;
}

/* content */
.cont-i:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.cont-i:hover i,
.cont-i-cerchio:hover i {
  display: block;
  cursor: pointer;
}

.cont-i-cerchio:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* footer */
.footer-sx .brano .info span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer-centro .comandi i:hover,
.footer-dx i:hover {
  cursor: pointer;
}

.footer-centro .comandi i:nth-child(3):hover {
  font-size: 40px;
}

.footer-centro .linea:hover .andamento,
.footer-dx .linea:hover .andamento {
  border-color: #adff2f;
  background-color: #adff2f;
  cursor: pointer;
}

.footer-centro .linea:hover .cerchio-andamento-centro {
  display: block;
  cursor: pointer;
}

.footer-dx .linea:hover .cerchio-andamento-dx {
  display: block;
  cursor: pointer;
}
/* 
---------------------
CUSTOM SCROLL-BAR
---------------------
*/

/* Larghezza */
::-webkit-scrollbar {
  width: 5px;
}

/* Percorso (in questo caso nascosto) */
::-webkit-scrollbar-track {
  background: none;
}

/* stile scroll-bar */
::-webkit-scrollbar-thumb {
  background-color: rgba(110, 110, 110, 0.8);
  border-radius: 20px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* 
---------------------
RESPONSIVE
---------------------
*/
/* Medium da 0 a 992*/
@media screen and (max-width: 992px) {
  /* Navbar */
  nav {
    width: 85%;
  }

  nav ul {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  nav ul li {
    padding: 5px 10px;
  }

  /* Recenti */
  .recenti h2 {
    margin-top: 60px;
    font-size: 20px;
  }

  .cont-recenti {
    flex-wrap: wrap;
  }

  .box {
    width: calc(100% / 4);
    margin-bottom: 20px;
  }

  .box h4 {
    font-size: 12px;
  }

  .personalized h2 {
    font-size: 20px;
  }

  .personalized h5 {
    font-size: 10px;
  }

  /* footer */

  /* foot-sx */
  .footer-sx,
  .footer-dx {
    width: 30%;
  }

  .footer-sx .brano .info {
    padding: 0 30px 0 10px;
  }

  .footer-sx .icone {
    flex-direction: column;
    gap: 10px;
  }

  /* foot-centro */
  .footer-centro {
    width: 50%;
  }

  .footer-centro .comandi i {
    padding: 0 1.5vw;
  }

  /* footer-dx */

  .footer-dx > * {
    padding: 0 10px;
  }
}

/* Small da 0 a 768*/
@media screen and (max-width: 768px) {
  .recenti {
    width: 90%;
  }

  .box {
    width: calc(100% / 2);
    padding: 0 1vw;
  }
}

/* Extra Small da 0 a 576*/
@media screen and (max-width: 576px) {
  /* sidebar */
  .sidebar {
    width: 50px;
  }

  .sidebar #logo-big {
    display: none;
  }

  .sidebar #logo-small {
    display: block;
    width: 100%;
    padding: 10px;
  }
  /* Menu */
  .sidebar .menu ul {
    margin-top: 20px;
  }

  .sidebar .menu ul li {
    padding: 0 10px 10px 10px;
  }

  .sidebar .menu ul li img {
    width: 100%;
  }

  .sidebar .menu ul li span {
    display: none;
  }

  /* Playlist */
  .sidebar .menu {
    flex-grow: 1;
  }

  .playlist {
    display: none;
  }

  /* Installa */
  .footer-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    bottom: 100px;
    margin-bottom: 10px;
  }

  .footer-sidebar .installa {
    border: none;
  }

  .footer-sidebar .installa span {
    display: none;
  }

  .footer-sidebar hr {
    display: none;
  }

  /* Profilo */
  .footer-sidebar .profilo span {
    display: none;
  }

  .footer-sidebar .profilo {
    margin-left: -7px;
  }

  .footer-sidebar .profilo .foto-profilo {
    margin-left: 5px;
  }

  .content {
    margin-left: 50px;
  }

  /* Upgrade */
  .upgrade {
    left: 50px;
  }

  /* Content */
  .recenti h2 {
    margin-top: 100px;
  }

  /* Footer */

  /* footer-sx */
  .footer-sx h5 {
    font-size: 12px;
  }

  .footer-sx .brano .cont-foto-brano {
    width: 30px;
    height: 30px;
  }

  .footer-sx .brano .info {
    padding: 0 10px 0 5px;
  }

  .footer-sx .icone {
    gap: 5px;
  }

  .footer-sx .icone i {
    font-size: 16px;
  }

  /* footer-centro */
  .footer-centro .comandi i {
    font-size: 14px;
  }

  .footer-centro .comandi i:nth-child(3) {
    font-size: 20px;
  }

  .footer-centro .timeline {
    width: 100%;
  }

  /* footer-dx */
  .footer-dx i {
    font-size: 12px;
  }

  .footer-dx > * {
    padding: 0 0.6vw;
  }

  .footer-dx .timeline .linea {
    width: 50px;
  }
}

@media screen and (min-height: 400px) {
  html {
    min-height: 400px;
    overflow: auto;
  }
}
